.navbar-container {
  position: sticky;
  top: 0;
  padding: 0rem 2rem;
  background-color: #2e582f;
  color: #fff;
  font-family: 'Montserrat';
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.5rem;
  list-style: none;
}

.nav-item-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem 2rem;
}

.nav-list-item:hover {
  background-color: #3b5849;
}

