.navbar-container {
  padding: 1rem 2rem;
  background-color: #2b580c;
  color: #fff;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 2rem;
}

.nav-list {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
}

.nav-item-link {
  text-decoration: none;
  color: #fff;
  margin-right: 1rem;
}

