.wrapper {
  margin: 0 auto 100px;
  max-width: 768px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 20px;
  line-height: 24px;
}

.submit-btn {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 48px;
}
